/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
.body {
    /* background-color: gray; */
}

.zbozi {
    display: flex;
    width: 670px;
    height: 440px;
    margin: 100px auto;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #dcdcdc;
}

.vizual {
    padding: 30px;
    width: 50%;
    background-image: linear-gradient(#06d7c1, #50cc49);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;

}

.slogan {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}

.bota {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.cenovka {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
}

.cena {
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}

.detaily {
    padding: 30px;
    width: 50%;
    background-color: white;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0px;
}

.produkt {
    color: #959595;
}

.popis {
    padding-bottom: 10px;
    padding-top: 10px;
}

.parametr {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 30px;
    border-top: 2px #06d7c1 solid;
}

.velikosti {
    padding-left: 0;
}

.velikosti li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.vybrana {
    color: red;
    border-radius: 50%;
    border: 1px red solid;
}

.tlacitko {
    text-transform: uppercase;
    background-color: #f15f42;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    color: white;
    position: absolute;
    bottom: 30px;
}